*::-webkit-input-placeholder {
	color: rgb(204, 204, 204);
	opacity: 1;
	font-family: "LatoRegular", sans-serif;
	font-size: 14px;
	letter-spacing: 0.6px;
}
*:-moz-placeholder {
	color: rgb(204, 204, 204);
	opacity: 1;
	font-family: "LatoRegular", sans-serif;
	font-size: 14px;
	letter-spacing: 0.6px;
}
*::-moz-placeholder {
	color: rgb(204, 204, 204);
	opacity: 1;
	font-family: "LatoRegular", sans-serif;
	font-size: 14px;
	letter-spacing: 0.6px;
}
*:-ms-input-placeholder {
	color: rgb(204, 204, 204);
	opacity: 1;
	font-family: "LatoRegular", sans-serif;
	font-size: 14px;
	letter-spacing: 0.6px;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: "LatoRegular", sans-serif;
	font-size: 16px;
	border: 30px solid #efefef;border: 30px solid #efefef;
	min-height: 100vh;
}

a{
	font-family: "LatoRegular", sans-serif;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3.2px;
	text-decoration: none;
	outline: none !important;
}

ul{
	margin: 0;
	padding: 0;
}

/*
=============================================================
Header
=============================================================
*/

header{
	background: #fff;
	width: 100%;
	z-index: 9999;
	position: fixed;
	top: 0px;
	left: 0px;

} 

.header-border{
	border-top: 30px solid #efefef;
	border-left: 30px solid #efefef;
	border-right: 30px solid #efefef;
	padding: 20px 0 5px;
}

.header_social ul{
	list-style-type: none;
	text-align: right;
}

.header_social li{
	display: inline-block;
	margin-right: 20px;
}

.header_social a{
	font-size: 20px;
}

.logo{
	float: left;
}

.menu{
	float: right;
	padding-top: 36px;
}

.menu span{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	cursor: pointer;
}

.menu ul li {
	list-style-type: none;
	display: inline-block;
	margin-left: 30px;
}

/*.menu ul li a {*/
	/*font-family: "LatoRegular", sans-serif;*/
	/*color: #333;*/
	/*text-transform: uppercase;*/
	/*font-size: 14px;*/
	/*letter-spacing: 3.2px;*/
	/*text-decoration: none;*/
	/*outline: none !important;*/
/*}*/


/*
=============================================================
Home content
=============================================================
*/

.home-content{
	margin-top: 140px;
}

.home-content_item{
	overflow:hidden;

}

.home-content_img{
	margin: 0 auto;
	overflow:hidden;
	border:1px solid #efefef;
	width: 580px;
	height: 350px;
}

.home-content_item img{
	width: 100%;
	height: 100%;
	-moz-transition: transform 0.6s ease-in-out 0s;
	-o-transition: transform 0.6s ease-in-out 0s;
	-webkit-transition: transform 0.6s ease-in-out 0s; 
}


.home-content_item img:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	cursor: pointer;
}  

.home-content_item p{
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #444;
	text-decoration: none;
	text-align: center;
}

footer{
	text-align: center;
	padding: 40px 0px; 
}

footer small{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #444;
	line-height: 140%;
	letter-spacing: 1px;
}


/*
=============================================================
blog content
=============================================================
*/

.blog-content{
	margin-top: 140px;
}

.blog-content_item{
    margin-bottom: 40px;
}

.blog-content_img{
	margin: 0 auto;
	overflow:hidden;
	border:1px solid #efefef;
	width: auto;
	height: 500px;
}

.blog-button{
    border:1px solid #000;
    padding: 5px 15px;
	margin-bottom: 10px;
}

.blog-content_item img{
	width: 100%;
	height: 100%;
	-moz-transition: transform 0.6s ease-in-out 0s;
	-o-transition: transform 0.6s ease-in-out 0s;
	-webkit-transition: transform 0.6s ease-in-out 0s;
}


.blog-content_item img:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	cursor: pointer;
}

.blog-content_item p{
	font-family: OpenSansRegular;
	font-size: 15px;
	font-weight: 500;
	text-transform: none;
	letter-spacing: 0px;
	color: #444;
	text-decoration: none;
	text-align: left;
}

.blog-content_item{
	font-size: 12px;
}



 /*
=============================================================
about content
=============================================================
*/

.about_content{
	margin-top: 140px;
}

.about_content img{
	width: 100%;
	height: auto;
}

.about_content p{
	padding-top: 20px;
}

.about-nav h3{
	font-family: "LatoBold";
	font-size: 17px;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
}

.about-nav ul{
	list-style-type: none;
}

.about-nav li{
	margin-bottom: 8px;
}

.about-nav li a{
	color: #444;
	text-decoration: none;
	transition: background 0.3s ease 0s, color 0.3s ease 0s;
	text-transform: none;
	letter-spacing: normal;
}



 /*
=============================================================
feedback
=============================================================
*/

/*.feedback{*/
	/*padding-top: 140px;*/
/*}*/

.feedback input{
	width: 100%;
	height: 50px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 20px;
	margin-bottom: 20px;
}

.feedback textarea{
	width: 100%;
	height: 275px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 15px;
	margin-bottom: 20px;
}

.feedback span{
	font-family: "LatoBold";
	display: block;
	padding-bottom: 10px;
	letter-spacing: 1px;
	font-size: 15px;
}

.form-button {
	width: 150px !important;
	background-color: #fff;
	text-align: center;
	padding: 0 !important;
}

/*
=============================================================
admin
=============================================================
 */

TABLE {
	margin: 20px auto;
	width: 100%;
	border: 2px solid #000
}
TD, TH {
	border: 2px solid #000;
	padding: 5px; /* Поля вокруг текста */
}

.admin-menu ul{
	display: block;
	list-style-type: none;
	margin: 10px auto;
}

.admin-menu li{

}

.admin-form{
	margin-bottom:40px;
}

.admin-form form{
	display: block;
	margin: 0 auto;
}

.admin-form input{
	width: 50%;
	height: 50px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
}

.admin-form textarea{
	width: 100%;
	height: 275px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 15px;
	margin-bottom: 20px;
}

.admin-form span{
	font-family: "LatoBold";
	display: block;
	padding-bottom: 10px;
	letter-spacing: 1px;
	font-size: 15px;
}

.form-button {
	width: 150px !important;
	background-color: #fff;
	text-align: center;
	padding: 0 !important;
}
































